.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000;
  }
  
  .title {
    font-size: 6rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
  }
  